.modelForm {
    text-align: initial;
}

.text-prompt {
    font-weight: 200;
    font-size: 9pt;
    color: white;
}

.submit-button,
.submit-button:focus {
    border-color: #a8cbe7;
    background-color: #00000000;
    box-shadow: none !important;
}

.submit-button:hover {
    border-color: #a8cbe7;
    background-color: #a8cbe7;
    box-shadow: 0 0 0 0.2rem rgb(49 132 253 / 40%) !important;
}

.row {
    margin-left: 1rem;
    margin-right: 1rem;
}

.dummy-col {
    width: 2em;
}

.prediction-text {
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
}

.info-icon {
    margin: 5px;
    font-size: 20px;
}

.range-slider-row {
    align-items: flex-end;
}