.slide-image {
    max-height: 95%;
    max-width: 90%;
}

.right-arrow {
    position: fixed;
    font-size: 2.2em;
    right: 10px;
    bottom: 10px;
}

.left-arrow {
    position: fixed;
    font-size: 2.2em;
    left: 10px;
    bottom: 10px;
}